<div>
  <div id="logo-root"
       data-logo-path="<%= image_path('logo4.png') %>">
  </div>
  <div id="navbar-root">
  </div>
  <script type="application/json" id="spaces-data">
    <%= @spaces.to_json.html_safe %>
  </script>
  <div id="spaces-list-root"
       data-title="<%= "#{@filter_value}" %>"
       style="min-height: 200px;">
  </div>
  <div id="footer-root"
       data-instagram-image-path="<%= image_path('instagram_logo.png') %>">
  </div>
</div>
