<nav class="navbar navbar-expand-lg position-relative">
  <div class="container-fluid px-0">
    <div class="navbar-logo-wrapper">
      <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
        <%= image_tag "logo3.png", alt: "Tokyo Turntable", class: "me-2" %>
      <% end %>
      <span class="navbar-logo-text">Tokyo Turntable</span>
      <span class="navbar-phrases">
        <span class="navbar-phrase-col">live shows ▾</span>
        <span class="navbar-phrase-col">listening spaces ▾</span>
        <span class="navbar-phrase-col">Japanese vinyl ▾</span>
      </span>
    </div>
    <div class="navbar-logo-tagline" id="widget">
      <% if defined?(@spotify_embed_url) && @spotify_embed_url.present? %>
        <div class="widget-inner">
          <h3 class="widget-header">In Rotation:</h3>
          <div class="widget-player">
            <iframe
              src="<%= @spotify_embed_url %>"
              frameBorder="0"
              allowtransparency="true"
              allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
              loading="lazy"
              class="widget-iframe">
            </iframe>
          </div>
        </div>
      <% else %>
        <div data-controller="widget" data-widget-playlist-id-value="<%= Rails.application.credentials.spotify[:playlist_id] %>"></div>
      <% end %>
    </div>
  </div>
</nav>
