<nav class="vertical-navbar">
  <%= link_to "About", "#", class: "vertical-navbar-link", data: { action: "click->about#show", about_target: "button" } %>
  <%= link_to "Contact", "#contact", class: "vertical-navbar-link", data: { action: "click->about#close" } %>
</nav>
