<nav class="vertical-navbar">
  <%= link_to "About", "#about", class: "vertical-navbar-link" %>
  <%= link_to "Subscription", "#subscribe", class: "vertical-navbar-link" %>
  <%= link_to "Contact", "#contact", class: "vertical-navbar-link" %>
</nav>
