<div>
  <div id="navbar-root"
       data-playlist-id="<%= Rails.application.credentials.spotify&.dig(:playlist_id) || '' %>"
       data-logo-path="<%= image_path('logo3.png') %>">
  </div>
  <div class="container">
  </div>
  <div id="about-root"></div>
  <div id="footer-root"
       data-qr-image-path="<%= image_path('tempImageeKmAyg 1.png') %>">
  </div>
  <div id="react-root"></div>
</div>
