<div>
  <div id="logo-root"
       data-logo-path="<%= image_path('logo4.png') %>">
  </div>
  <div id="navbar-root">
  </div>
  <div class="container">
  </div>
  <div id="about-root"></div>
  <div id="footer-root"
       data-instagram-image-path="<%= image_path('instagram_logo.png') %>">
  </div>
  <div id="react-root"></div>
</div>
