<div data-controller="about">
  <%= render "shared/navbar" %>
  <%= render "shared/vertical_navbar" %>
  <div class="container">
  </div>
  <div data-about-target="content" class="about-description hidden">
    <div class="about-content-wrapper">
      <p>We are a hub for exploring Tokyo through sound. Whether it's an underground live show, an intimate listening experience, or a hand-picked Japanese vinyl, you're sure to find what you're looking for.</p>
    </div>
  </div>
</div>
