.about-description {
  position: fixed;
  top: 60%;
  left: 60%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: #eae5db;
  padding: 40px;
  max-width: 600px;
  width: 90%;
}

.about-description.hidden {
  display: none !important;
}

.about-content-wrapper {
  text-align: center;
}
